<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="WELLOnlineAPISuite">
	<listeners>
		<listener
			class-name="com.common.utils.ExtentTestNGIReporterListener" />
	</listeners>
	<test name="AuthenticationAPITest" preserve-order="true">
		<classes>
			<class name="com.autentication.testCases.SignInAPITest" />
			<class name="com.autentication.testCases.RegisterAPITest" />
			<class name="com.autentication.testCases.ForgotPassAPITest" />
			<!-- <class name="com.autentication.testCases.ResetPasswordAPITest" /> -->
		</classes>
	</test>
		 <test name="UsersAPITest" preserve-order="true">
		<classes>
			<class name="com.users.testCases.GetLoggedMemberInfoTest" />
			<class name="com.users.testCases.GetUserIdInfo" />
			<class name="com.users.testCases.UpdatePasswordForUserTest" />
			<class name="com.users.testCases.UpdateUserIdTest" />
		</classes>
	</test>
	<test name="V1ProjectsAPITest" preserve-order="true" >
		<classes>
			<class name="com.wellv1.project.CreateV1ProjectTest" />
			<class name="com.wellv1.project.UpdateV1ProjectTest" />
			<class name="com.wellv1.project.GetV1ProjectById" />
			<class name="com.wellv1.project.CreateV1EstimateTest" />
			<class name="com.wellv1.project.GetV1EstimateById" />
			 <class name="com.wellv1.project.ValidateV1EstimateTest" />
		</classes>
	</test>
	<test name="EstimatesAPITest" preserve-order="true" >
		<classes>
			<class name="com.project.estimates.CreateEstimateTest" />
			<class name="com.project.estimates.GetEstimateById" />
			<class name="com.project.estimates.UpdateEstimateTest" />
			<class name="com.project.estimates.GetEstimatePDFExport" />
			<!--  <class name="com.project.estimates.ValidateEstimateTests" /> -->
		</classes>
	</test>
	<test name="TeamAPITest" preserve-order="true" >
		<classes>
			<class name="com.project.testCases.InviteProjectMemberTest" />
			<class name="com.project.testCases.AssertInvitedProjectMemberPrivileges" />
			<class name="com.project.testCases.DetachProjectMemberTest" />
		</classes>
	</test>
	<test name="ProjectsAPITest" preserve-order="true" parallel="none" >
		<classes>
			<class name="com.project.testCases.StoreNewProjectTest" />
			<class name="com.project.testCases.GetUserProjectsTest" />
			<class name="com.project.scorecard.CreateScorecardTests" />
			<class name="com.project.scorecard.FilterScorecardTests" />
			<class name="com.project.scorecard.AttachPartsToScorecardTests" />
			<class name="com.project.scorecard.GetScorecardByPhase" />
			<class name="com.project.testCases.RegisterProjectTest" />
			<class name="com.project.testCases.GetProjectMembersTest" />
			<class name="com.project.testCases.UpdateProjectByProjectId" />
			<class name="com.project.testCases.GetProjectInvoiceStatusTest" />
			<class name="com.project.scorecard.AddNoteToScorecardTest" />
			<class name="com.project.scorecard.GetNoteByPartIdTest" />
			<class name="com.project.scorecard.UpdatePhaseForScorecardTests" /> 
			<class name="com.project.scorecard.AddScoreInImplementationScorecardTest" /> 
			<class name="com.project.scorecard.GetScorecardByIdTest" />
			<class name="com.project.scorecard.UploadDocumentForScorecardTest" /> 
			<class name="com.project.scorecard.GetScorecardDocumentByPartidTest" />
			<class name="com.project.scorecard.GetScorecardDocumentTest" />
			<class name="com.project.scorecard.UpdateScorecardTests" /> 
			<class name="com.project.scorecard.UpdateNoteToImplementationPhase" /> 
			<class name="com.project.scorecard.GetAllNotesByScorecardIdTest" />
			<class name="com.project.scorecard.GetAllNotesByScorecardIdTest" />
			<class name="com.project.testCases.CreateProjectDocumentTest" />
			<class name="com.project.testCases.GetProjectDocumentsAllTest" />
			<class name="com.project.testCases.GetDocumentByDocumentId" />
			<class name="com.project.testCases.CreateProjectNoteTest" />
			<class name="com.project.testCases.GetAllNotesByProjectId" />
			<class name="com.project.testCases.UpdateProjectNoteTest" />
			<class name="com.project.testCases.GetProjectNoteByNoteId" />
			<class name="com.project.testCases.GetProjectByProjectIdTest" />
			<class name="com.project.testCases.CreateProjectAAPTest" />
			<class name="com.project.testCases.GetAAPTests" />
			<class name="com.project.testCases.UpdateAAPAsInfoRequested" />
			<class name="com.project.testCases.ResubmitAAP" />
			<class name="com.project.testCases.UpdateAAPAsApproved" />
			<class name="com.project.testCases.GetEPTests" />
			<class name="com.project.testCases.UpdateEPAsInfoRequested" />
			<class name="com.project.testCases.ResubmitEP" />
			<class name="com.project.testCases.UpdateEPAsApproved" />
			<class name="com.project.testCases.SubmitReviewTests" />
			<class name="com.project.testCases.AddNoteToReviewTest" />
			<class name="com.project.testCases.UpdateNoteForReviewTest" />
			<class name="com.project.testCases.GetAllReviewsByProjectId" />
			<class name="com.project.testCases.GetReviewByReviewId" />
			<class name="com.project.testCases.UpdateReviewAsAdminTests" />
			<class name="com.project.testCases.ResubmitReviewTests" />
			<class name="com.project.testCases.ReturnReviewAsAdminTest" />
			<class name="com.project.testCases.DeleteDocumentByDocumentId" />
			<class name="com.project.testCases.DeleteNoteForReviewTest" />
			<class name="com.project.scorecard.DeleteNoteByNoteidTest" />
			<class name="com.project.scorecard.DeleteDocumentByScorecardidTest" />
	</classes>
	</test>
	<test name="PortfolioAPITest">
		<classes>
			<class name="com.portfolio.testCases.StorePortfolioTests"/>
			<class name="com.portfolio.testCases.ListUserPortfolioTests"/>
			<class name="com.portfolio.testCases.RegisterPortfolioTests"/>
			<class name="com.portfolio.testCases.GetPortfolioInvoiceTests"/>
			<class name="com.portfolio.testCases.GetPortfolioByIdTests"/>
			<class name="com.portfolio.testCases.GetSurveyByPortfolioIdTests"/>
			<class name="com.portfolio.testCases.UpdateSurveyStatusTests"/>
			<class name="com.portfolio.testCases.FilterScorecardByConcept"/>
			<class name="com.portfolio.testCases.GetRecommendationToScorecardTests"/>
			<class name="com.portfolio.testCases.GetScorecardConceptPhaseSummaryTests"/>
			<class name="com.portfolio.testCases.GetVersionPhaseSummaryTests"/>
			<class name="com.portfolio.testCases.GetScorecardConceptPhaseSummaryTests"/>
			<class name="com.portfolio.testCases.AnalyzePortfolioScoreByScorecardIdTests"/>
			<class name="com.portfolio.testCases.DownloadPortfolioScorecardTests"/>
			<class name="com.portfolio.testCases.GetPorfolioMembersTests"/>
			<class name="com.portfolio.testCases.AddNoteToPortfolioTests"/>
			<class name="com.portfolio.testCases.GetPortfolioNoteByNoteIdTests"/>
			<class name="com.portfolio.testCases.UpdateNoteToPortfolioTests"/>
			<class name="com.portfolio.testCases.GetAllNotesByPortfolioIdTests"/>
			<class name="com.portfolio.testCases.AddDocumentToPortfolioTests"/>
			<class name="com.portfolio.testCases.GetPortfolioDocumentByIdTests"/>
			<class name="com.portfolio.testCases.UpdatePortfolioDocumentTests"/>
			<class name="com.portfolio.testCases.GetAllDcoumentsByPortfolioIdTests"/>
			<class name="com.portfolio.testCases.AddProjectsToPortfolioTests"/>
			<class name="com.portfolio.testCases.AddMultiplePropertiesToPortfolioTests"/>
			<class name="com.portfolio.testCases.GetProjectsByPortfolioIdTests"/>
			<class name="com.portfolio.testCases.GetProjectLocationsTests"/>
			<class name="com.portfolio.testCases.UpdatePortfoliobyIdTests"/>
			<class name="com.portfolio.testCases.GetPortfolioProjectSummaryTests"/>
			<class name="com.portfolio.testCases.GetPortfolioWizardProjectsTests"/>
			<class name="com.portfolio.testCases.GetPortfolioWizardsSummaryTests"/>
			<class name="com.portfolio.testCases.CreateSubsetByPortfolioIdTests"/>
			<class name="com.portfolio.testCases.GetPortfolioSubsetsTests"/>
			<class name="com.portfolio.testCases.GetPortfolioSubsetByIdTests"/>
			<class name="com.portfolio.testCases.UpdatePortfolioSubsetByIdTests"/>
			<class name="com.portfolio.testCases.GetSubsetProjectsByIdTests"/>
			<class name="com.portfolio.testCases.PortfolioBulkUpdateTests"/>
			<class name="com.portfolio.testCases.GetPortfolioProjectSummaryTests"/>
			<class name="com.portfolio.testCases.DeletePortfolioDocByDocIdTests"/>
			<class name="com.portfolio.testCases.DeletePortfolioNoteByIdTests"/>
	</classes>
	</test>
	<test name="FinalAPITest">
		<classes>
			<class name="com.users.testCases.LogoutTestClass" />
		</classes>
	</test>
</suite>
		